:root {--logo-text: #000000;
    --basic-text-color: #212121;
    --additional-text-color: #757575;
    --auxiliary-text-color:#FFFFFF;
    --hover-color: #2196F3;
    --backgroud-color: #F5F5F5;
    --comand-fone: #F5F4FA;
    --booton-activ: #188CE8;
}

body{
    color: var(--additional-text-color);
    background-color: var(--auxiliary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* формат мейна */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
         /* стиль логотипу */

.logo{
    color: var(--logo-text);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-text{
    color: var(--hover-color);
}

        /* стиль навігації */


.hat{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: var(--auxiliary-text-color);
}

.hat .logo{
    padding: 24px 0 25px;
     margin-right: 93px;
}

.hat-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.hat-list>.item{
    display: block;
   
}

.hat-list .item:not(:last-child){
    margin-right: 50px;
}

.hat .link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .link{
    display: block;
    padding: 32px 0;
    color: var(--basic-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--hover-color);
}

.auth-nav{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.auth-nav .item:not(:first-child){
    margin-left: 50px;
}

.auth-nav .link{
    padding: 32px 0;
    color: var(--additional-text-color);
}

.auth-nav .link:hover, 
.auth-nav .link:focus {
    color: var(--hover-color);
}

    /* стиль блоку героя */

.hero{
    width: 1600px;
    height: 600px;
    margin: auto;
    text-align: center;
    background-color: #2F303A;
}

.hero-title{
    padding-top: 197px;
    padding-bottom: 30px;
    margin: 0;

    color: var(--auxiliary-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

    /* стилізаця кнопки блоку героя */
    
.button{
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;

    color: var(--auxiliary-text-color);
    background-color: var(--hover-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus{
    background-color: var(--booton-activ);
}

    /* стиль заголовків секцій */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title{
    margin: 0;
    margin-bottom: 50px;
    color: var(--basic-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

        /* стиль секції особливості */

.features-title{
    margin: 0;

    color: var(--basic-text-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-text{
    margin: 0;
}

.features .item{
    min-width: 270px;
}

.features .item:not(:first-child){
    margin-left: 30px;
}


    /* стиль секції чим ми займаємося */


.work-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-list .item:not(:first-child){
    margin-left: 30px;
}

.work-list img{
    display: block;
}


    /* стиль секції команда */

    
.comand{
    background-color: var(--comand-fone);
}

.comand-name{
    margin-bottom: 10px;

    color: var(--basic-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.comand-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.comand-list .item{
text-align: center;
}

.comand-list img{
margin-bottom: 30px;
}

.comand-list .item:not(:first-child){
    margin-left: 30px;
}

.comand-list p{
    font-size: 16px;
    line-height: 1.19;
}

        /* стиль футера */

.footer{
   
    background-color: #2F303A;
}

.container>.link{
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
       
    color: var(--auxiliary-text-color);
  
    font-family: 'Raleway';    
    font-weight: 700;   
    font-size: 26px;      
    line-height: 1.19;   
    text-decoration: none;
    }

.footer .logo{
    color: var(--hover-color);
}

    /* стилізація адреса футера */

.address{
    font-style: normal;
}

.address-list{
    display: inline-block;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}

.address-list .item:not(:last-child){
margin-bottom: 9px;
}

.address-list .link{
    color:rgba(255, 255, 255, 0.6);
    
    text-decoration: none;
}

.address-list .link:hover, 
.address-list .link:focus{
    color: var(--hover-color);
}

.address .text{
    margin: 0;
    color: var(--auxiliary-text-color);
}

        /* портфолио */
        /*   фильтр  */

.filter-button{
    cursor: pointer;

    color: var(--basic-text-color);
    background-color: var(--comand-fone);

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.filter-button:hover, 
.filter-button:focus{
    color: var(--auxiliary-text-color);
    background-color: var(--hover-color);
}

.filter-list{
    list-style: none;
}

/* стилізація проєктів */

.project-name{
    color: var(--basic-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list{
    list-style: none;
}

.project-text{
    color: var(--additional-text-color);

    font-size: 16px;
    line-height:1.88
}
